h1 {
    font-family: sans-serif;
    color:midnightblue;
    opacity: 0.8;
    text-align: center;
    border: 2px chartreuse solid;
    border-radius: 10px;
    padding: 0.3em;
}

.pied-de-page {
    font-family: sans-serif;
    opacity: 0.8;
    text-align: center;
    margin: 0 auto;
}


.ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell {
    text-align: center;
}

.customPanelGrid .ui-panelgrid-content {
    align-items: center;
}