<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:composition template="../template/layout.xhtml"
                    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    xmlns:h="http://xmlns.jcp.org/jsf/html"
                    xmlns:f="http://xmlns.jcp.org/jsf/core"
                    xmlns:p="http://primefaces.org/ui">
        <ui:define name="titre">Login</ui:define>
        <ui:define name="contenu">
            <h:form>
                <p:tab>
                    <p:row>
                        <p:outputLabel value="Veuillez entrer votre login et mot de passe :"/>
                        <br/>
                    </p:row>
                    <p:row>
                        <br/>
                        <span class="ui-float-label">
                            <p:inputText id="float-input" value="#{loginBean.username}"/>
                            <p:outputLabel for="@previous" value="Username"/>
                        </span>
                    </p:row>
                    <p:row>
                        <br/>
                        <span class="ui-float-label">
                            <p:password id="toggle" value="#{loginBean.password}"

                                        toggleMask="true" redisplay="true"/>
                            <p:outputLabel for="@previous" value="Password"/>
                        </span>
                    </p:row>
                    <p:row>
                        <br/>
                        <p:commandButton value="Log in" styleClass="ui-button-outlined ui-button-success"
                                  action="#{loginBean.login()}"/>
                    </p:row>
                </p:tab>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
