<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
>

<ui:composition>
    <p:tabMenu activeIndex="#{param.i}">
        <p:menuitem value="Home" url="#{contextBean.pathToFaces}/index.xhtml" icon="pi pi-fw pi-home">
            <f:param name="i" value="0"/>
        </p:menuitem>
        <p:menuitem value="Couleurs" url="#{contextBean.pathToFaces}/user/color.xhtml" icon="pi pi-fw pi-tags">
            <f:param name="i" value="1"/>
        </p:menuitem>
        <p:menuitem value="Pays" url="#{contextBean.pathToFaces}/admin/country.xhtml" icon="pi pi-fw pi-globe">
            <f:param name="i" value="2"/>
        </p:menuitem>
        <p:menuitem value="Bières" url="#{contextBean.pathToFaces}/beer.xhtml" icon="pi pi-fw pi-database">
            <f:param name="i" value="3"/>
        </p:menuitem>
        <p:menuitem value="About" url="#{contextBean.pathToFaces}/about.xhtml" icon="pi pi-fw pi-cog">
            <f:param name="i" value="4"/>
        </p:menuitem>
    </p:tabMenu>
</ui:composition>

</html>