<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:composition template="template/layout.xhtml"
                    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    xmlns:h="http://xmlns.jcp.org/jsf/html"
                    xmlns:f="http://xmlns.jcp.org/jsf/core"
                    xmlns:p="http://primefaces.org/ui">
    <ui:define name="titre">Bieres</ui:define>
    <ui:define name="contenu">
        <h1>Les bières</h1>
        <h:form class="form">
            <div class="panelgrid">
                <h:panelGrid columns="4" layout="flex"
                             columnClasses="col-12 md:col-3 xl:col-2, col-12 md:col-9 xl:col-4, col-12 md:col-3 xl:col-2, col-12 md:col-9 xl:col-4"
                             styleClass="customPanelGrid" contentStyleClass="ui-fluid">

                    <p:column >
                        <p:outputLabel for="keyword" value="Nom d'article : "/>
                    </p:column>
                    <p:column colspan="2">
                        <p:inputText id="keyword" value="#{articleBean.keywordForArticleLibelle}" style="width: 100%;"/>
                    </p:column>
                    <p:column>
                        <p:splitButton value="Rechercher" action="#{articleBean.search()}"
                                       update="table-articles"
                                       icon="pi pi-search">
                            <p:menuitem value="Réinitialiser" action="#{articleBean.reset()}"
                                        update="combo-continent, combo-country,combo-type,combo-color,combo-maker,combo-brand"
                                        icon="pi pi-refresh"/>
                        </p:splitButton>
                    </p:column>

                    <p:column>
                        <p:outputLabel for="combo-continent" value="Choisir un continent : "/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="combo-continent" value="#{articleBean.selectedContinent}" style="width: 100%;">
                            <p:ajax listener="#{articleBean.onContinentChange()}"
                                    update="combo-country"/>
                            <f:selectItems value="#{articleBean.allContinents}"/>
                            <f:converter converterId="continentConverter"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column>
                        <p:outputLabel for="combo-country" value="Choisir un pays : "/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="combo-country" value="#{articleBean.selectedCountry}" style="width: 100%;">
                            <p:ajax listener="#{articleBean.onCountryChange()}" update="combo-brand"/>
                            <f:selectItems value="#{articleBean.listCountries}"/>
                            <f:converter converterId="paysConverter"/>
                        </p:selectOneMenu>
                    </p:column>

                    <p:column>
                        <p:outputLabel for="combo-type" value="Choisir un type de bière : "/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="combo-type" value="#{articleBean.selectedType}" style="width: 100%;">
                            <p:ajax listener="#{articleBean.onTypeChange()}" />
                            <f:selectItems value="#{articleBean.allTypes}"/>
                            <f:converter converterId="typeConverter"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column>
                        <p:outputLabel for="combo-color" value="Choisir une couleur : "/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="combo-color" value="#{articleBean.selectedColor}" style="width: 100%;">
                            <p:ajax listener="#{articleBean.onColorChange()}" />
                            <f:selectItems value="#{articleBean.allColors}"/>
                            <f:converter converterId="couleurConverter"/>
                        </p:selectOneMenu>
                    </p:column>

                    <p:column>
                        <p:outputLabel for="combo-maker" value="Choisir un fabricant : "/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="combo-maker" value="#{articleBean.selectedMaker}" style="width: 100%;">
                            <p:ajax listener="#{articleBean.onMakerChange()}" update="combo-brand"/>
                            <f:selectItems value="#{articleBean.allMakers}"/>
                            <f:converter converterId="fabricantConverter"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column>
                        <p:outputLabel for="combo-brand" value="Choisir une marque : "/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu id="combo-brand" value="#{articleBean.selectedBrand}" style="width: 100%;">
                            <p:ajax listener="#{articleBean.onBrandChange()}" />
                            <f:selectItems value="#{articleBean.listBrands}"/>
                            <f:converter converterId="marqueConverter"/>
                        </p:selectOneMenu>
                    </p:column>

                </h:panelGrid>
            </div>
        </h:form>
    </ui:define>
    </ui:composition>
</f:view>
</html>
