<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:composition template="../template/layout.xhtml"
                    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    xmlns:h="http://xmlns.jcp.org/jsf/html"
                    xmlns:f="http://xmlns.jcp.org/jsf/core"
                    xmlns:p="http://primefaces.org/ui">
        <ui:define name="titre">Pays</ui:define>
        <ui:define name="contenu">
            <h1>
                Les pays
            </h1>
            <br/>
            <div class="datatable-country">
                <h:form id="form">
                    <p:dataTable id="countries" var="country" value="#{cpBean.listPaysContinent}"
                                 paginator="true" paginatorPosition="both" rows="5"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                                 rowsPerPageTemplate="5,10,20,{ShowAll|'All'}">

                        <p:column headerText="Id" responsivePriority="2">
                            <h:outputText value="#{country.id}"/>
                        </p:column>
                        <p:column headerText="Pays" responsivePriority="1">
                            <h:outputText value="#{country.libelle}"/>
                        </p:column>
                        <p:column headerText="Continent" responsivePriority="3">
                            <h:outputText value="#{country.continent.toString().toUpperCase()}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>

        </ui:define>
    </ui:composition>
</f:view>
</html>
