<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:composition template="../template/layout.xhtml"
                    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    xmlns:h="http://xmlns.jcp.org/jsf/html"
                    xmlns:f="http://xmlns.jcp.org/jsf/core"
                    xmlns:p="http://primefaces.org/ui">
        <ui:define name="titre">Couleurs</ui:define>
        <ui:define name="contenu">
            <h1>
                Les couleurs
            </h1>
            <br/>
            <div align="center" class="tagcloud">
                <h:form>
                    <p:growl id="msgs" showDetail="true" skipDetailIfEqualsSummary="true"/>
                    <p:tagCloud model="#{tagCloudView.model}">
                        <p:ajax event="select" update="msgs" listener="#{tagCloudView.onSelect}"/>
                    </p:tagCloud>
                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</f:view>
</html>
