<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:composition template="template/layout.xhtml"
                    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    xmlns:h="http://xmlns.jcp.org/jsf/html"
                    xmlns:f="http://xmlns.jcp.org/jsf/core"
                    xmlns:p="http://primefaces.org/ui">
        <ui:define name="titre">Page de connexion</ui:define>
        <ui:define name="contenu">
            <h:form>
                <p:splitButton value="Log out" action="#{loginBean.logout}"  icon="pi pi-sign-out">
                    <p:menuitem value="Log in" url="#{contextBean.pathToFaces}/login/login.xhtml" icon="pi pi-sign-in"/>
                    <p:divider />
                    <p:menuitem value="Homepage" url="#{contextBean.pathToFaces}/index.xhtml" icon="pi pi-home"/>
                </p:splitButton>
            </h:form>
        </ui:define>
    </ui:composition>
</f:view>
</html>
