<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <ui:composition template="template/layout.xhtml"
                    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                    xmlns:h="http://xmlns.jcp.org/jsf/html"
                    xmlns:f="http://xmlns.jcp.org/jsf/core"
                    xmlns:p="http://primefaces.org/ui">
        <ui:define name="titre">Bieres</ui:define>
        <ui:define name="contenu">
            <h1>
                Les bières
            </h1>
            <h4>
                <h:outputText id="choice"
                              value="Votre choix : continent - #{articleBean.selectedContinent} | pays - #{articleBean.selectedCountry} | type - #{articleBean.selectedType} | couleur - #{articleBean.selectedColor} | fabricant - #{articleBean.selectedMaker} | marque - #{articleBean.selectedBrand}"/>
            </h4>
            <div class="datatable-beer">
                <h:form id="form">

                    <h:panelGrid columns="4" layout="flex"
                                 columnClasses="col-12 md:col-3 xl:col-2, col-12 md:col-9 xl:col-4, col-12 md:col-3 xl:col-2, col-12 md:col-9 xl:col-4"
                                 styleClass="customPanelGrid" contentStyleClass="ui-fluid">

                        <p:column>
                            <p:outputLabel for="combo-continent" value="Choisir un continent : "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="combo-continent" value="#{articleBean.selectedContinent}">
                                <p:ajax listener="#{articleBean.onContinentChange()}"
                                        update="combo-country,choice"/>
                                <f:selectItems value="#{articleBean.allContinents}"/>
                                <f:converter converterId="continentConverter"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel for="combo-country" value="Choisir un pays : "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="combo-country" value="#{articleBean.selectedCountry}">
                                <p:ajax listener="#{articleBean.onCountryChange()}" update="combo-brand,choice"/>
                                <f:selectItems value="#{articleBean.listCountries}"/>
                                <f:converter converterId="paysConverter"/>
                            </p:selectOneMenu>
                        </p:column>

                        <p:column>
                            <p:outputLabel for="combo-type" value="Choisir un type de bière : "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="combo-type" value="#{articleBean.selectedType}">
                                <p:ajax listener="#{articleBean.onTypeChange()}" update="choice"/>
                                <f:selectItems value="#{articleBean.allTypes}"/>
                                <f:converter converterId="typeConverter"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel for="combo-color" value="Choisir une couleur : "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="combo-color" value="#{articleBean.selectedColor}">
                                <p:ajax listener="#{articleBean.onColorChange()}" update="choice"/>
                                <f:selectItems value="#{articleBean.allColors}"/>
                                <f:converter converterId="couleurConverter"/>
                            </p:selectOneMenu>
                        </p:column>

                        <p:column>
                            <p:outputLabel for="combo-maker" value="Choisir un fabricant : "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="combo-maker" value="#{articleBean.selectedMaker}">
                                <p:ajax listener="#{articleBean.onMakerChange()}" update="combo-brand,choice"/>
                                <f:selectItems value="#{articleBean.allMakers}"/>
                                <f:converter converterId="fabricantConverter"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel for="combo-brand" value="Choisir une marque : "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu id="combo-brand" value="#{articleBean.selectedBrand}">
                                <p:ajax listener="#{articleBean.onBrandChange()}" update="choice"/>
                                <f:selectItems value="#{articleBean.listBrands}"/>
                                <f:converter converterId="marqueConverter"/>
                            </p:selectOneMenu>
                        </p:column>

                        <p:column>
                            <p:outputLabel for="keyword" value="Nom d'article : "/>
                        </p:column>
                        <p:column>
                            <p:inputText id="keyword" value="#{articleBean.keywordForArticleLibelle}"/>
                        </p:column>
                        <p:column>
                            <p:splitButton value="Rechercher" action="#{articleBean.search()}"
                                           update="table-articles"
                                           icon="pi pi-search">
                                <p:menuitem value="Réinitialiser" action="#{articleBean.reset()}"
                                            update="choice,combo-continent, combo-country,combo-type,combo-color,combo-maker,combo-brand"
                                            icon="pi pi-refresh"/>
                            </p:splitButton>
                        </p:column>
                        <p:column><p:outputLabel value=" "/></p:column>

                    </h:panelGrid>

                    <hr/>

                    <p:dataTable id="table-articles" var="article" value="#{articleBean.listArticles}"
                                 paginator="true" paginatorPosition="both" rows="5"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                                 rowsPerPageTemplate="5,10,20,30,40,50,{ShowAll|'All'}">

                        <p:column headerText="Id" responsivePriority="6">
                            <h:outputText value="#{article.id}"/>
                        </p:column>
                        <p:column headerText="Nom" responsivePriority="1">
                            <h:outputText value="#{article.libelle}"/>
                        </p:column>
                        <p:column headerText="Volume" responsivePriority="3">
                            <h:outputText value="#{article.volume}"/>
                        </p:column>
                        <p:column headerText="Titrage" responsivePriority="3">
                            <h:outputText value="#{article.titrage}"/>
                        </p:column>
                        <p:column headerText="Marque" responsivePriority="4">
                            <h:outputText value="#{article.marque.libelle}"/>
                        </p:column>
                        <p:column headerText="Couleur" responsivePriority="5">
                            <h:outputText value="#{article.couleur.libelle}"/>
                        </p:column>
                        <p:column headerText="Type" responsivePriority="5">
                            <h:outputText value="#{article.typeBiere.libelle}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </div>

        </ui:define>
    </ui:composition>
</f:view>
</html>
